@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="main">
    <BlazoredToasts Position="ToastPosition.TopCenter"
                    Timeout="5"
                    SuccessClass="success-toast-override" />

    <div class="content">
        @Body
    </div>
</div>
<footer class="bg-dark text-white mt-4">
    <div class="container py-4">
        <div class="row">
            <div class="col">&copy;2020 the 5th floor - All Rights Reserved.</div>
        </div>
    </div>
    <LoginDisplay />
</footer>
