<nav class="navbar navbar-expand-lg navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="images/aic-logo-web.png" alt="Avalon Innovation Club"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home <span class="sr-only">(current)</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Careers">
                        Careers
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="About">
                        About
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Contact">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
