
<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="images/aic-logo-web.png" alt="Avalon Innovation Club"></a>
    </div>
</nav>

@code {
}
