@page "/Careers"

@using Schlagen.Services
@using Schlagen.Data.EntityClasses
@using Microsoft.AspNetCore.Identity
@using Radzen.Blazor

@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@inherits OwningComponentBase<IEmploymentServices>

<section id="page-heading">
    <div class="container">
        <div class="row">
            <div class="col"><h1>Careers</h1></div>
        </div>
    </div>
</section>
<section id="careers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job One</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Orlando, FL</h6>
                        <p class="card-text">Position excerpt.</p>
                        <a href="#" class="card-link">Apply Here</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job One</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Orlando, FL</h6>
                        <p class="card-text">Position excerpt.</p>
                        <a href="#" class="card-link">Apply Here</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job One</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Orlando, FL</h6>
                        <p class="card-text">Position excerpt.</p>
                        <a href="#" class="card-link">Apply Here</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job One</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Orlando, FL</h6>
                        <p class="card-text">Position excerpt.</p>
                        <a href="#" class="card-link">Apply Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}