@page "/"

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="images/aic-collage.jpg" class="d-block w-100" alt="Location features" />
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Prowork &amp; Coplay</h2>
                        <h6 class="card-subtitle mb-3">Orlando, FL</h6>
                        <p class="card-text">Shared &amp; Custom Workspaces by</p>
                        <img src="images/t5f-logo-white.png" alt="The Fifth Floor" class="tf5-logo" />
                        <p class="card-text">Coming Third Quarter 2020.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>