@page "/"

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">Hero/Carousel</div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">Col1</div>
            <div class="col text-center">Col2</div>
            <div class="col text-center">Col3</div>
        </div>
    </div>
</section>