@page "/Login"

    <section id="page-heading">
        <div class="container">
            <div class="row">
                <div class="col"><h1>Login</h1></div>
            </div>
        </div>
    </section>

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col">Login Form Here</div>
            <div class="col">Other Contact Info Here.</div>
        </div>
    </div>
</section>

@code {

}
